[ req ]
default_bits        = 2048
default_days        = 3650
distinguished_name  = subject
req_extensions      = req_ext
x509_extensions     = x509_ext
string_mask         = utf8only

[ subject ]
countryName                 = Country Name (2 letter code)
countryName_default         = FR

stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default = Île-de-France

localityName                = Locality Name (eg, city)
localityName_default        = Paris

[ x509_ext ]
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer

basicConstraints        = CA:TRUE
subjectAltName          = @alternate_names

[ req_ext ]
subjectKeyIdentifier    = hash

basicConstraints        = CA:TRUE
subjectAltName          = @alternate_names

[ alternate_names ]
DNS.1   = {{ domain_name }}
